* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;
	background: ;
}

header {
	font-size: 18px;
}
.grad1 {
	font-size: 30px;
	color: white;
	height: 300px;
    background: -webkit-linear-gradient(left, red , blue, green, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, blue, green, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, blue, green, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red , blue, green, yellow); /* Standard syntax */
}

.gutter {
	width: 100%;
	height: 50px;
	margin: 0;
	background: #fff;
}

.grad2 {
	font-size: 30px;
	color: white;
	height: 300px;
	background: -webkit-linear-gradient(red, blue, green, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, blue, green, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, blue, green, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, blue, green, yellow); /* Standard syntax */
}

.grad3 {
	font-size: 30px;
	color: white;
	height: 300px;	
	background: -webkit-linear-gradient(left top, red , blue, green, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, red, blue, green, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, red, blue, green, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, red , blue, green, yellow); /* Standard syntax */
}

.grad4 {
	font-size: 30px;
	color: white;
	height: 300px;	
    background: -webkit-linear-gradient(180deg, red, blue, green, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, red, blue, green, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, red, blue, green, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, red, blue, green, yellow); /* Standard syntax */
}

.grad5 {
	font-size: 30px;
	color: white;
	height: 300px;	
    background: -webkit-linear-gradient(90deg, red, blue, green, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, red, blue, green, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, red, blue, green, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, red, blue, green, yellow); /* Standard syntax */
}

.grad6 {
	font-size: 30px;
	color: white;
	height: 300px;	
    background: -webkit-linear-gradient(45deg, red, blue, green, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, red, blue, green, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, red, blue, green, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, red, blue, green, yellow); /* Standard syntax */
}

.grad7 {
	font-size: 30px;
	color: white;
	height: 300px;	
    background: -webkit-linear-gradient(15deg, red, blue, green, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(15deg, red, blue, green, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(15deg, red, blue, green, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(15deg, red, blue, green, yellow); /* Standard syntax */
}

.grad8 {
	text-align: right;
	font-size: 30px;
	color: white;
	height: 300px;
    background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(206, 207, 206, .5), rgba(179, 179, 178 , 1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right, rgba(255,0,0,0), rgba(206, 207, 206. .5), rgba(179, 179, 178 , 1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(206, 207, 206, .5), rgba(179, 179, 178 , 1)); /*Fx 3.6-15*/
    background: linear-gradient(right, rgb(255,0,0), rgb(206, 207, 206), rgb(185, 185, 182)); /*Standard*/
}

.grad9 {
	text-align: right;
	font-size: 30px;
	color: white;
	height: 600px;
        background: linear-gradient(
        to bottom, 
        rgba(64,64,64,1) 0%, 
        rgba(64,64,64,.9) 30%, 
        rgba(64,64,64,.6) 90%, 
        rgba(64,64,64,0) 100%
    );
}

